* {
  font-family: "Comic Sans MS", "cursive", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.h2{
  font-size: '45px';
  color:'white';
  font-weight: bolder;
}
/* .hero-header {
  background: url('./assets/images/companylogo.png'), url('./assets/images/companylogo.png'), url('./assets/images/companylogo.png'), url('./assets/images/mainimage.jpg'), url('./assets/images/mainimage.jpg');
  background-position: 10px 10px, bottom 190px right 10px, left 55% top -1px, left 45% bottom -1px, center bottom -1px;
  background-repeat: no-repeat;
  margin-top:55px;
} */


/* header.css */

.app-bar-header {
  width: 100%;
  background-color: #1d3356;
  margin-bottom: 56px; 
}

.navbar-custom {
  height: 60px; 
  padding-top: 0; 
  padding-bottom: 0; 
  background-color: #1d3356;
  z-index: 1000;
}

.navbar-custom .navbar-brand {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-custom .navbar-brand img {
  height: 40px; 
}

.navbar-custom .navbar-collapse {
  height: 100%;
}

.navbar-custom .nav-link {
  line-height: 60px; /* Match the height of the navbar */
}


.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: white !important;
}

.navbar-custom .nav-link {
  margin-left: 0.5rem;
}

.navbar-custom .navbar-toggler {
  border-color: white;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%281, 1, 1, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom .download-link .btn {
  color: white;
  border-color: white;
}

@media (max-width: 768px) {
  .navbar-custom .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-custom .nav-link {
    font-size: 0.9rem;
  }

  .promo-bar {
    font-size: 0.9rem;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  border-color: #1d3356;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#58729c, #324667);
  border-radius: 100px;
} 

/* mainpage.css */


.bg-custom h1 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #1d3356;
}


.bg-custom{
  background-color: #6B78B7 !important;
}

.main-content {
  text-align: center;
  padding: 2rem 1rem;
}

.main-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.buttons .btn {
  width: 100%;
  max-width: 300px;
}

.disclaimer {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.promo-image {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .buttons {
    flex-direction: row;
  }
}


/* contact.css */


.contact-page {
  background: url('./assets/images/mainimage.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-page h1 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #1d3356; 
}

.contact-page .form-label {
  color: #FFF;
}

.contact-page .form-control {
  background-color: rgba(255, 255, 255, 0.9);
}

.contact-page .btn-warning {
  background-color: #1d3356;
  border-color: #1d3356;
  font-weight: bold;
}

.contact-page .btn-warning:hover {
  background-color: #e68a00;
  border-color: #e68a00;
}


.privacy-page h4, .privacy-page h2,
.privacy-page h6 {
  margin-bottom: 20px;
  font-weight: bold;
}


/* learnig.css */

.learn-page {
  padding: 2rem 0;
}

.circle-icon {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  transition: 0.3s;
}

.circle-icon img {
  width: 60%;
}

.circle-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.facility-title {
  margin: 1.5rem 0 1rem 0;
  transition: 0.3s;
}

.facility-title:hover {
  color: #000;
}

/* choosus.css */

.choose-page h1 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #1d3356; 
}

/* download.css */

.download-page h1 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #1d3356; 
}

/* HorizontalScrollCarousel.css */

.carousel h1 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #1d3356; 
}

.carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensure the content takes the full width */
}

.carousel-content img {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  margin-right: 20px; /* Space between the image and text */
}

.carousel-text {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  color: #fff;
  text-align: left;
}

.carousel-text h5 {
  font-size: 1.5rem;
}

.carousel-text p {
  font-size: 1rem;
}

/*faq.css*/

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 1.1rem;
}

.faq-icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

/* src/Footer.css */
.footer {
  background-color: #1d3356;
  color: white;
  padding: 20px 0;
}

.footer-section {
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.footer-section h4 {
  color: #00c2ff;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section .social-icons {
  margin-top: 10px;
}

.footer-section .social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1.5em;
}

.social-icons a .fa-icon {
  font-size: 35px; /* Adjust this value to the desired size */
}


.footer-section .social-icons a:hover {
  color: #00c2ff;
  transform: scale(1.2); /* Increase size on hover */
  transition: all 0.3s ease; /* Add smooth transition effect */
}

.footer-section .app-button,
.footer-section .pro-button {
  background-color: white;
  color: #1d3356;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}

.footer-section .app-button:hover,
.footer-section .pro-button:hover {
  background-color: #00c2ff;
  color: white;
}

.logo {
  width: 150px;
}

.border-right {
  border-right: 2px solid #fff;
  margin: 10px;
}

.last-section {
  padding-left: 20px;
}

@media (max-width: 767px) {
  .border-right {
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .last-section {
    border-bottom: none;
    padding-left: 0;
  }
}
