/* src/Footer.css */
.footer {
  background-color: #1d3356;
  color: white;
  padding: 20px 0;
}

.footer-section {
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.footer-section h4 {
  color: #00c2ff;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section .social-icons {
  margin-top: 10px;
}

.footer-section .social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1.5em;
}

.footer-section .app-button,
.footer-section .pro-button {
  background-color: white;
  color: #1d3356;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}

.footer-section .app-button:hover,
.footer-section .pro-button:hover {
  background-color: #00c2ff;
  color: white;
}

.logo {
  width: 150px;
}

.border-right {
  border-right: 1px solid #fff;
}

.last-section {
  padding-left: 20px;
}

@media (max-width: 767px) {
  .border-right {
      border-right: none;
      border-bottom: 1px solid #fff;
  }
  .last-section {
      border-bottom: none;
      padding-left: 0;
  }
}
