* {
  font-family: "Comic Sans MS", "cursive", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
/* navbar.css */

.navbar-custom {
  height: 60px; 
  padding-top: 0; 
  padding-bottom: 0; 
}

.navbar-custom .navbar-brand {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-custom .navbar-brand img {
  height: 40px; 
}

.navbar-custom .navbar-collapse {
  height: 100%;
}

.navbar-custom .nav-link {
  line-height: 60px; /* Match the height of the navbar */
}

/* mainpage.css */

.main-content {
  text-align: center;
  padding: 2rem 1rem;
}

.main-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.buttons .btn {
  width: 100%;
  max-width: 300px;
}

.disclaimer {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.promo-image {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .buttons {
    flex-direction: row;
  }
}

/* header.css */

.app-bar-header {
  width: 100%;
  background-color: #1d3356;
  margin-bottom: 56px; /* Adjust based on navbar height */
}

.navbar-custom {
  background-color: #1d3356;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: white !important;
}

.navbar-custom .nav-link {
  margin-left: 0.5rem;
}

.navbar-custom .navbar-toggler {
  border-color: white;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%281, 1, 1, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom .download-link .btn {
  color: white;
  border-color: white;
}

@media (max-width: 768px) {
  .navbar-custom .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-custom .nav-link {
    font-size: 0.9rem;
  }

  .promo-bar {
    font-size: 0.9rem;
  }
}

/* contact.css */


.contact-page {
  background: url('./assets/images/mainimage.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-page h1 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #FF9900; /* Match the title color */
}

.contact-page .form-label {
  color: #FFF;
}

.contact-page .form-control {
  background-color: rgba(255, 255, 255, 0.9);
}

.contact-page .btn-warning {
  background-color: #FF9900;
  border-color: #FF9900;
  font-weight: bold;
}

.contact-page .btn-warning:hover {
  background-color: #e68a00;
  border-color: #e68a00;
}


.privacy-page h1, .privacy-page h2,
.privacy-page h4 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #FF9900;
}





/* content.css */

.content-section {
  padding: 50px 15px;
}

.content-title {
  color: #f56a00;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-text {
  font-size: 18px;
  color: #4d4d4d;
  margin-bottom: 30px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .content-section {
    text-align: center;
  }
}
/*faq.css*/

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 1.1rem;
}

.faq-icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

/* src/Footer.css */
.footer {
  background-color: #1d3356;
  color: white;
  padding: 20px 0;
}

.footer-section {
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.footer-section h4 {
  color: #00c2ff;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section .social-icons {
  margin-top: 10px;
}

.footer-section .social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1.5em;
}

.footer-section .social-icons a:hover {
  color: #00c2ff;
  transform: scale(1.2); /* Increase size on hover */
  transition: all 0.3s ease; /* Add smooth transition effect */
}

.footer-section .app-button,
.footer-section .pro-button {
  background-color: white;
  color: #1d3356;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}

.footer-section .app-button:hover,
.footer-section .pro-button:hover {
  background-color: #00c2ff;
  color: white;
}

.logo {
  width: 150px;
}

.border-right {
  border-right: 2px solid #fff;
  margin: 10px;
}

.last-section {
  padding-left: 20px;
}

@media (max-width: 767px) {
  .border-right {
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .last-section {
    border-bottom: none;
    padding-left: 0;
  }
}
